<%- include('../layouts/header.ejs') %>

<div class="container "> <!-- Add a container to center the content and add some padding -->
    <h1>Dashboard</h1>
    <a href="/admin/new-user" class="btn btn-primary">Add new user</a>
    <br><br>
    <form class="form-inline"> <!-- Use Bootstrap form-inline class for form alignment -->
        <div class="form-group">
            <input type="text" class="form-control my-2" placeholder="Search user name, email, mobile" name="search" value="<%=search%>">
        </div>
        <button type="submit" class="btn btn-primary mx-2">Search</button>
    </form>

    <table class="table table-striped table-bordered table-hover"> <!-- Add Bootstrap table classes -->
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Action</th>
        </tr>

        <% if (users.length > 0) {
            for (let i = 0; i < users.length; i++) {
        %>
            <tr>
                <td><%= users[i].name %></td>
                <td><%= users[i].email %></td>
                <td><%= users[i].mobile %></td>
                <td>
                    <a href="/admin/edit-user?id=<%= users[i]._id%>" class="btn btn-info">Edit</a>
                    <a href="/admin/delete-user?id=<%= users[i]._id%>" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        <%
            }
        } else {
        %>
            <tr>
                <td colspan="4">Users not found</td>
            </tr>
        <%
        }
        %>
    </table>
    <a href="/admin/home" class="btn btn-secondary">Home</a>
</div> <!-- Close the container div -->

<%- include('../layouts/footer.ejs') %>
